@import './variables.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (max-width:992px){
    .col-lg-3{
        display: none;
    }
}
.container{
    margin-top: $mainMargin;
}
.heading{
    & h1{
        font-size: 40px;
        color: $headingColor;
        transition: all 1s;
        transform: scale(1);
    }
    & h1:hover{
        box-shadow: 0 0 10px -2px  $boxShad;
        color: $textHov;
        transform: scale(1.02);
    }
}
.image-1 
,.image-2{
    display: flex;
    justify-content: center;
    cursor: pointer; 
    & img{
        transition: all 1s;
        box-shadow: none;
    }
    & img:hover{
        box-shadow: 0 0 10px -2px  $boxShad;
    }
}
.text-1{
    & .text-one{
        color: $headingColor;
        transition: all 1s;
        transform: scale(1);
    }
    & .text-one:hover{
        box-shadow: 0 0 10px -2px  $boxShad;
        color: $textHov;
        transform: scale(1.02);
    }  
    & .text-two{
        margin-top: $mainMargin;
        color: $headingColor;
        transition: all 1s;
        transform: scale(1);
    }
    & .text-two:hover{
        box-shadow: 0 0 10px -2px  $boxShad;
        color: $textHov;
        transform: scale(1.02);
    }
}
.little-text{
    color: $headingColor;
    transition: all 1s;
    transform: scale(1);
    &:hover{
        box-shadow: 0 0 10px -2px  $boxShad;
    color: $textHov;
    transform: scale(1.02);
    }
}